*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Hannari';
    src: url('/fonts/hannari.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    background: linear-gradient(45deg, #1F1C1C , #1A1717);
    background-size: 400% 400%;
    font-family: 'Hannari', sans-serif;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    background-color: #2196F3;
    padding: 0px 70px; 
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0px;
}

.grid-item.item1{
    grid-column: span 1;
}

.grid-item.item4{
    grid-column: span 4;
}

.grid-item.item12{
    grid-column: span 12;
}

    /*  NAVBAR  */


.logo  h1 {
    font-size: 0;
    position: absolute;
}
.logo h1:before {
    content: 'Proto';
    color: #fff;
    font-size: 32px;
}
.logo h1:after {
    content: 'type';
    color: #787878;
    font-size: 32px;
}

ul{
    list-style: none;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: #989494;
    text-decoration: none;
    text-align: center;
}

.products{
display: none;
}

.contact-us{
display: none;
}

.ul-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.ul-container li{
    margin: 0 93px 0 0;
}

.ul-container li a{
    font-size: 20px;
    /* padding: 10px 10px; */
}

.active{
    border-bottom: 2px solid #fff;
} 

.search-container form{
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    /* margin-right: px; */
}

.search-container input{ /*aqui nao estou a conseguir alinhas a input com o resto dos icons nao sei porque, o margin-bottom nao esta a mudar nada*/
    border: none;
    outline: none;
    padding: 6px;
    font-size: 16px;
    width: 100px;
}
.search-container input[type=text], textarea{
    /* background: linear-gradient(45deg, #1F1C1C , #1A1717); */
}

.search-container button{
    border: none;
    outline: none;
    padding: 6px 10px;
    font-size: 30px;
    cursor: pointer;
    background: linear-gradient(45deg, #1F1C1C , #1A1717);
    color: #fff;   
}

.cart-container{
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.vertical-line{
    border-left: 2px solid #989494;
    height: 30px;
    margin: 0 15px 20px 30px;
}

.cart-container a{
    text-decoration: none;
}

.cart-container .cart{
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: 20px;
}

.cart-container .menu{
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: 20px;
}

@media (min-width: 320px ) and (max-width: 374px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      background-color: #2196F3;
      padding: 0px 0px; 
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
    }

     .grid-item.item4{
        grid-column: span 1;
    }

    .grid-item.item1{
        grid-column: span 1;
    }

    /* .grid-item.item2, .grid-item.item3 ,.grid-item.item4, .grid-item.item6 ,.grid-item.item7 ,.grid-item.item8  ,.grid-item.item9 ,.grid-item.item10{
        display: none;    
    }  */

    .grid-container ul li{
        display: none;    
    } 
    
    .search-container {
        display: none;    
    }

    .cart-container .cart {
        display: none;    
    }

    .cart-container{
        margin: 0px 20px 0px 0px;
    }

    .vertical-line{
        display: none;    
    }

    /* .grid-item.item4, .grid-item.item1 {
        grid-column: span 4;
    }

    .grid-item:not(.item4):not(.item1) {
        display: none;
    } */


    .logo h1::before{
        font-size: 30px;
    }

    .logo h1::after{
        font-size: 30px;
    }
}




        /* SLIDESHOW IMG  HOMEPAGE */

.wrapper{
    margin-top: 45px;
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.wrapper section{
    height: 100vh;
    scroll-snap-align: start;
}

.wrapper .mySlides .fade{
    width: 100%;
}

.grid-item.item1.slider{
    /* background-color: red; */
    grid-row: 1/12;
    grid-column: 1/13;
    height: 100%;
}

.wrapper .text{
    position: absolute;
    font-size: 60px;
    text-align: left;
    color: #fff;
    width: 20%;
}

.wrapper .buy-now{ /*  aqui nao estou a conseguir posiçionar muito bem o botao */
    /* position: absolute; */
    border: none;
    outline: none;
    padding: 13px 40px;
    border-radius: 6px;
    background-color: #989494;
    color: #fff;
    display: flex;
    /* align-items: left; */
    /* margin-bottom: 50px; */
}

.wrapper .tracos-slideshow .dot{
    text-align: center;
    cursor: pointer;
    background-color: #bbb;
    width: 38px;
    height: 4px;
    margin: 0 5px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.wrapper .tracos-slideshow .dot.active{
    background-color: #fff;
}


        /* Login / Register */

.container-form-global{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-form{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container-form p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container-form span{
    font-size: 12px;
}

.container-form a{
    color:#333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;  
}

.container-form a:hover{
    text-decoration: underline;
}

.container-form button{
    background-color: #2C2929;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container-form button.hidden{
    background-color: transparent;
}

    /*   NEWSLETTER   */

.container-newsletter{
    margin-top: 55px;   
    height: 100vh;
    width: 100%;
} 

.background-newsletter{
    background-color: #D9D9D9;
    /* height: 100%; */
    width: 100%;
}

.background-newsletter .text h1{
    font-size: 20px;
    text-align: left;
}

.background-newsletter .text p{
    font-size: 15px;
    margin: 5px 0px 30px 0px;
}

.background-newsletter .text{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-newsletter .text input{
    float: left;
    border: 1px solid #fff;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
}

.background-newsletter .text input[type=email], textarea{
    background-color: #D9D9D9;
}
